### Comentarios

In [1]:
# This is a comment
# These lines of code will not change any values
# Anything following the first # is not run as code

""" This is a special string """

' This is a special string '

Variables

In [20]:
my_integer = 50
print (my_integer)
type(my_integer)

50

int

In [9]:
one = 1
#print One
print (one)

1

In [13]:
my_float = 1.0
print (my_float)
type(my_float)
my_float = float(1)
print (my_float) 
type(my_float)

1.0
1.0

(None, float)

In [15]:
my_string = 'This is a string with single quotes'
print (my_string)
my_string = "This is a string with double quotes"
print (my_string)

This is a string with single quotes
This is a string with double quotes

In [17]:
my_string = '"Jabberwocky", by Lewis Carroll'
print (my_string)
my_string = "'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;"
print (my_string)

"Jabberwocky", by Lewis Carroll
'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;

In [19]:
my_bool = True
print (my_bool) 
type(my_bool)

True

bool

### Operaciones matematicas Basicas

In [22]:
print ('Addition: ', 2 + 2)
print ('Subtraction: ', 7 - 4)
print ('Multiplication: ', 2 * 5)
print ('Division: ', 10 / 2)
print ('Exponentiation: ', 3**2)

Addition:  4
Subtraction:  3
Multiplication:  10
Division:  5.0
Exponentiation:  9

In [23]:
print ('Modulo: ', 15 % 4)

Modulo:  3

In [24]:
first_integer = 4
second_integer = 5
print (first_integer * second_integer)

20

In [33]:
first_integer = 11
second_integer = 3
print (first_integer / second_integer)

<class 'int'>
3.6666666666666665

In [27]:
first_number = 11.0
second_number = 3.0
print (first_number / second_number)

3.6666666666666665

In [35]:
import math
print ('Pi: ', math.pi)
print ("Euler's Constant: ", math.e)
print ('Cosine of pi: ', math.cos(math.pi))

Pi:  3.141592653589793
Euler's Constant:  2.718281828459045
Cosine of pi:  -1.0

## Colecciones

### Listas

In [36]:
my_list = [1, 2, 3]
print (my_list)

[1, 2, 3]

In [38]:
print (my_list[0])
print (my_list[2])

1
3

In [40]:
print ('The first, second, and third list elements: ', my_list[0], my_list[1], my_list[2])
#print ('Accessing outside the list bounds causes an error: ', my_list[3])

The first, second, and third list elements:  1 2 3

In [41]:
print (len(my_list))

3

In [43]:
my_string = "Strings never change"
#my_string[0] = 'Z'

In [44]:
my_list_2 = ['one', 'two', 'three']
print (my_list_2)

['one', 'two', 'three']

In [45]:
my_list_3 = [True, 'False', 42]

In [46]:
my_list_4 = my_list + my_list_2 + my_list_3
print (my_list_4)

[1, 2, 3, 'one', 'two', 'three', True, 'False', 42]

In [60]:
my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']

#### Slicing

In [48]:
print (my_list[2:4])

['countrymen', 'lend']

In [50]:
print (my_list[1:])

['romans', 'countrymen', 'lend', 'me', 'your', 'ears']

In [51]:
print (my_list[:4])

['friends', 'romans', 'countrymen', 'lend']

In [52]:
my_list[-1]

'ears'

In [53]:
my_list[0:7:2]

['friends', 'countrymen', 'me', 'ears']

In [54]:
my_list[::2]

['friends', 'countrymen', 'me', 'ears']

In [55]:
my_list[::-1]

['ears', 'your', 'me', 'lend', 'countrymen', 'romans', 'friends']

In [62]:
b=10
my_list = range(b)
my_list

range(0, 10)

In [59]:
a=0
b=10
step=2
my_list = range(a,b,step)
print (my_list)

range(0, 10, 2)

### Tuplas

In [63]:
my_tuple = 'I', 'have', 30, 'cats'
my_tuple

('I', 'have', 30, 'cats')

In [64]:
my_tuple = ('I', 'have', 30, 'cats')
my_tuple

('I', 'have', 30, 'cats')

In [65]:
my_tuple[3] = 'dogs' # Attempts to change the 'cats' value stored in the the tuple to 'dogs'

TypeError: 'tuple' object does not support item assignment

In [66]:
my_tuple[1:3]

('have', 30)

In [67]:
my_other_tuple = ('make', 'that', 50)
my_tuple + my_other_tuple

('I', 'have', 30, 'cats', 'make', 'that', 50)

In [69]:
str_1, str_2, int_1 = my_other_tuple
print (str_1, str_2, int_1)

make that 50

### Conjuntos

In [70]:
things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}
print (things_i_like)
type(things_i_like)

{4, 'lizards', 7, 42, 'dogs', 'the number 4', 'man I just LOVE the number 4'}

set

In [73]:
animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']
animal_set = set(animal_list)
print (animal_set) # Removes all extra instances from the list

{'lizards', 'cows', 'dogs', 'sponges', 'bats', 'cats'}

In [74]:
len(animal_set)

6

In [75]:
'cats' in animal_set # Here we check for membership using the `in` keyword.

True

In [76]:
print (animal_set | things_i_like) # You can also write things_i_like | animal_set with no difference

{4, 'lizards', 7, 'cows', 42, 'dogs', 'sponges', 'the number 4', 'man I just LOVE the number 4', 'bats', 'cats'}

In [78]:
print (animal_set & things_i_like) # You can also write things_i_like & animal_set with no difference

{'dogs', 'lizards'}

### Dictionarios

In [79]:
my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"], 
           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],
           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}

In [80]:
my_dict["Sci-fi"]

['Book of the New Sun', 'Neuromancer', 'Snow Crash']

In [81]:
my_dict["Sci-fi"] = "I can't read"
my_dict["Sci-fi"]

"I can't read"

In [82]:
my_dict["Historical Fiction"] = ["Pillars of the Earth"]
my_dict["Historical Fiction"]

['Pillars of the Earth']

In [83]:
my_dict

{'High Fantasy': ['Wheel of Time', 'Lord of the Rings'],
 'Historical Fiction': ['Pillars of the Earth'],
 'Sci-fi': "I can't read",
 'Weird Fiction': ['At the Mountains of Madness',
  'The House on the Borderland']}

## Trucos con Strings

In [84]:
first_string = '"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /'
second_string = 'Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/'
third_string = first_string + second_string
third_string

'"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/'

In [87]:
my_string = 'Supercalifragilisticexpialidocious'
print('The first letter is: ', my_string[0]) # Uppercase S
print('The last letter is: ', my_string[-1]) # lowercase s
print('The second to last letter is: ', my_string[-2]) # lowercase u
print('The first five characters are: ', my_string[0:5]) # Remember: slicing doesn't include the final element!
print('Reverse it!: ', my_string[::-1])

The first letter is:  S
The last letter is:  s
The second to last letter is:  u
The first five characters are:  Super
Reverse it!:  suoicodilaipxecitsiligarfilacrepuS

In [88]:
print ('Count of the letter i in Supercalifragilisticexpialidocious: ', my_string.count('i'))
print ('Count of "li" in the same word: ', my_string.count('li'))

Count of the letter i in Supercalifragilisticexpialidocious:  7
Count of "li" in the same word:  3

In [89]:
'The first time i appears is at index: ', my_string.find('i')

('The first time i appears is at index: ', 8)

In [90]:
"All i's are now a's: ", my_string.replace('i', 'a')

("All i's are now a's: ", 'Supercalafragalastacexpaaladocaous')

In [91]:
"It's raining cats and dogs".replace('dogs', 'more cats')

"It's raining cats and more cats"

In [92]:
my_string = "I can't hear you"
print (my_string.upper())
my_string = "I said HELLO"
print (my_string.lower())

I CAN'T HEAR YOU
i said hello

#### Formato de los strings

In [93]:
my_string = "{0} {1}".format('Marco', 'Polo')
my_string

'Marco Polo'

In [94]:
my_string = "{1} {0}".format('Marco', 'Polo')
my_string

'Polo Marco'

In [95]:
print ('insert %s here' % 'value')

insert value here

In [97]:
print ('There are %s cats in my %s' % (13, 'apartment'))

There are 13 cats in my apartment

## Operadores lógicos

### Logica básica

In [99]:
5 == 5

True

In [100]:
5 > 5

False

In [101]:
m = 2
n = 23
print (m < n)

True

In [103]:
statement_1 = 10 > 2
statement_2 = 4 <= 6
print ("Statement 1 truth value: {0}".format(statement_1))
print ("Statement 2 truth value: {0}".format(statement_2))
print ("Statement 1 and Statement 2: {0}".format(statement_1 and statement_2))

Statement 1 truth value: True
Statement 2 truth value: True
Statement 1 and Statement 2: True

In [104]:
((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2))

True

### Veracidad

In [105]:
bool('')

False

In [106]:
bool('I have character!')

True

In [107]:
bool([])

False

In [108]:
bool([1, 2, 3])

True

## Ciclos if

In [111]:
# This is the basic format of an if statement. This is a vacuous example. 
# The string "Condition" will always evaluated as True because it is a
# non-empty string. he purpose of this code is to show the formatting of
# an if-statement.
if "Condition": 
    # This block of code will execute because the string is non-empty
    # Everything on these indented lines
    print (True)
else:
    # So if the condition that we examined with if is in fact False
    # This block of code will execute INSTEAD of the first block of code
    # Everything on these indented lines
    print (False)
# The else block here will never execute because "Condition" is a non-empty string.

True

In [112]:
i = 4
if i == 5:
    print ('The variable i has a value of 5')

In [114]:
i = 4
if i == 5:
    print ("All lines in this indented block are part of this block")
    print ('The variable i has a value of 5')
else:
    print ("All lines in this indented block are part of this block")
    print ('The variable i is not equal to 5')

All lines in this indented block are part of this block
The variable i is not equal to 5

In [115]:
i = 1
if i == 1:
    print ('The variable i has a value of 1')
elif i == 2:
    print ('The variable i has a value of 2')
elif i == 3:
    print ('The variable i has a value of 3')
else:
    print ("I don't care what i is")

The variable i has a value of 1

In [121]:
i = 10
if i % 2 == 0:
    if i % 3 == 0:
        print ('i is divisible by both 2 and 3! Wow!')
    elif i % 5 == 0:
        print ('i is divisible by both 2 and 5! Wow!')
    else:
        print ('i is divisible by 2, but not 3 or 5. Meh.')
else:
    print ('I guess that i is an odd number. Boring.')

i is divisible by both 2 and 5! Wow!

In [123]:
i = 9
j = 16
if i < 10 and j > 11:
    print ('{0} is less than 10 and {1} is greater than 11! How novel and interesting!'.format(i, j))

9 is less than 10 and 16 is greater than 11! How novel and interesting!

In [127]:
my_string = "Carthago delenda est"
if my_string == "Carthago delenda est":
    print ('And so it was! For the glory of Rome!')
else:
    print ('War elephants are TERRIFYING. I am staying home.')

War elephants are TERRIFYING. I am staying home.

In [128]:
if 'a' in my_string or 'e' in my_string:
    print ('Those are my favorite vowels!')

## Ciclos

In [129]:
for i in range(5):
    print ('I am looping! I have looped {0} times!'.format(i + 1))

I am looping! I have looped 1 times!
I am looping! I have looped 2 times!
I am looping! I have looped 3 times!
I am looping! I have looped 4 times!
I am looping! I have looped 5 times!

In [130]:
my_list = {'cats', 'dogs', 'lizards', 'cows', 'bats', 'sponges', 'humans'} # Lists all the animals in the world
mammal_list = {'cats', 'dogs', 'cows', 'bats', 'humans'} # Lists all the mammals in the world
my_new_list = set()
for animal in my_list:
    if animal in mammal_list:
        # This adds any animal that is both in my_list and mammal_list to my_new_list
        my_new_list.add(animal)

my_new_list

{'bats', 'cats', 'cows', 'dogs', 'humans'}

In [132]:
i = 10
while True:
    if i == 14:
        break
    i += 1 # This is shorthand for i = i + 1. It increments i with each iteration.
    print (i)

11
12
13
14

In [134]:
for i in range(5):
    if i == 2:
        break
    print (i)

0
1

In [135]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print (i)

1
2
4
5

In [136]:
for i in range(5):
    loop_string = 'I transcend the loop!'
    print ('I am eternal! I am {0} and I exist everywhere!'.format(i))

print ('I persist! My value is {0}'.format(i))
print (loop_string)

I am eternal! I am 0 and I exist everywhere!
I am eternal! I am 1 and I exist everywhere!
I am eternal! I am 2 and I exist everywhere!
I am eternal! I am 3 and I exist everywhere!
I am eternal! I am 4 and I exist everywhere!
I persist! My value is 4
I transcend the loop!

In [138]:
my_dict = {'firstname' : 'Inigo', 'lastname' : 'Montoya', 'nemesis' : 'Rugen'}

In [139]:
for key in my_dict:
    print (key)

firstname
lastname
nemesis

In [141]:
for key in my_dict:
    print (my_dict[key])

Inigo
Montoya
Rugen

In [143]:
for key, value in my_dict.iteritems():
    print (key, ':', value)

AttributeError: 'dict' object has no attribute 'iteritems'

## Funciones

In [144]:
def hello_world():
    """ Prints Hello, world! """
    print ('Hello, world!')

hello_world()

Hello, world!

In [145]:
for i in range(5):
    hello_world()

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [148]:
def see_the_scope():
    in_function_string = "I'm stuck in here!"

see_the_scope()
in_function_string

NameError: name 'in_function_string' is not defined

In [149]:
def free_the_scope():
    in_function_string = "Anything you can do I can do better!"
    return in_function_string
my_string = free_the_scope()
print (my_string)

Anything you can do I can do better!

In [151]:
def multiply_by_five(x):
    """ Multiplies an input number by 5 """
    return x * 5

n = 4
print (n)
multiply_by_five(n)

4

20

In [152]:
def calculate_area(length, width):
    """ Calculates the area of a rectangle """
    return length * width

In [153]:
l = 5
w = 10
print ('Area: ', calculate_area(l, w))
print ('Length: ', l)
print ('Width: ', w)

Area:  50
Length:  5
Width:  10

In [154]:
def calculate_volume(length, width, depth):
    """ Calculates the volume of a rectangular prism """
    return length * width * depth

In [155]:
def sum_values(*args):
    sum_val = 0
    for i in args:
        sum_val += i
    return sum_val

In [157]:
print (sum_values(1, 2, 3))
print (sum_values(10, 20, 30, 40, 50))
print (sum_values(4, 2, 5, 1, 10, 249, 25, 24, 13, 6, 4))

6
150
343

In [159]:
def test_args(*args):
    print (type(args))

test_args(1, 2, 3, 4, 5, 6)

<class 'tuple'>

In [160]:
def has_a_vowel(word):
    """ 
    Checks to see whether a word contains a vowel 
    If it doesn't contain a conventional vowel, it
    will check for the presence of 'y' or 'w'. Does
    not check to see whether those are in the word
    in a vowel context.
    """
    vowel_list = ['a', 'e', 'i', 'o', 'u']
    
    for vowel in vowel_list:
        if vowel in word:
            return True
    # If there is a vowel in the word, the function returns, preventing anything after this loop from running
    return False

In [165]:
my_word = 'ctnppng'
if has_a_vowel(my_word):
    print ('How surprising, an english word contains a vowel.')
else:
    print ('This is actually surprising.')

This is actually surprising.

In [162]:
def point_maker(x, y):
    """ Groups x and y values into a point, technically a tuple """
    return x, y

In [164]:
group=point_maker(2,3)
group
print (type(group))

<class 'tuple'>